# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\OneDrive - NHL Stenden\School\Year 2\Period 2\XML\End Assignment\Data-Pocessing-Final-Assignment-REST-API\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
